@import url('https://fonts.googleapis.com/css?family=Jost:300,400,500,600&display=swap');

* {
	box-sizing: border-box;
	outline: none !important;
}

::-webkit-scrollbar {
	width: 8px; /* ширина для вертикального скролла */
	height: 8px; /* высота для горизонтального скролла */
	background-color: rgba(0,0,0, 0.2);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
	background-color: #FFA500;
	border-radius: 9em;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: #f4f4f4;
	font-family: 'Jost', sans-serif;

	&.body--open-info {
		overflow: hidden;
	}
}

img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

input[type="text"] {
	border-radius: 4px;
	padding: 10px;
	transition: all .3s;
	border: 1px solid gray;
	outline: none;

	&:focus {
		border: 1px solid orange;
	}
}

$mainColor: #FFA500;

.button-style {
	background: $mainColor;
	border: none;
	padding: 10px;
	cursor: pointer;
	color: white;
	border-radius: 3px;
	transition: all .3s;

	&:hover {
		background: #000;
	}
}

.head-panel {
	width: 100%;
	position: fixed;
	align-items: center;
	padding: 10px 20px;
	height: 60px;
	background: #ffffff;
	z-index: 1000;

	&__name-input {
		margin-right: 10px;
	}

	&__wrap {
		height: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__fav-informer {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none;
		color: #ffffff;
		border: none;
		font-size: 30px;
		width: 30px;
		height: 100%;
		text-shadow: 1px 1px 3px rgba(0,0,0, .2);
		cursor: pointer;
		transition: all .5s;
		z-index: 1;

		&:hover {
			transform: scale(1.3);
		}

		i {
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(25%);
			z-index: -1;
		}

		&:hover {
			.head-panel__fav-count {
				opacity: 1;
			}
		}
	}

	&__fav-count {
		color: #000;
		opacity: 0;
		transition: all .5s;
		font-size: 18px;
	}
}

.film-list {
	padding: 80px 10px 0 10px;
	width: 100%;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 10px;
	}

	&__poster {
		position: relative;
		margin: 0 10px 20px 10px;
		width: 20%;
		cursor: pointer;
		transition: all .3s;

		&:hover {

		}
	}

}

.film-info {
	&__title {
		width: 100%;
	}

	&__name {
		margin: 0;
		font-weight: 400;
		font-size: 28px;
	}

	&__right {
		width: 55%;
		padding: 10px;
	}

	&__button-panel {
		width: 10%;
	}

	&__main-image {
		border-radius: 3px;
	}
}

.in-queue {
	&__button {
		position: fixed;
		top: 20px;
		right: 30px;
		z-index: 1000;
		background: none;
		border: none;
		color: #000;
		font-size: 28px;
		cursor: pointer;
		outline: none;
		transition: all .5s;

		&:hover {
			color: #fff;
			transform: scale(1.1);
		}
	}
}

.favourite-panel {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translateY(-100%);
	background: #ffffff;
	transition: all .5s;
	padding: 30px;

	&--open {
		transform: translateY(60px);
	}

	&__wrap {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__tabs {
		margin-bottom: 20px;
	}

	&__tab {
		margin-right: 10px;
		height: 40px;
		background: transparent;
		border: 2px solid #000000;
		border-radius: 3px;
		cursor: pointer;
		transition: all .5s;
		text-transform: uppercase;
		font-weight: 600;

		&:hover,
		&--active {
			border: 2px solid $mainColor;
			background: $mainColor;
			color: #ffffff;
		}
	}
}

.favourite-item {
	width: 48%;
	display: flex;
	height: 150px;
	padding: 5px 10px;

	&__poster {
		width: 25%;
	}

	&__info {
		width: 65%;
	}

	&__filmName {
		margin-top: 0;
		font-size: 18px;
		color: $mainColor;
	}

	&__button-panel {
		width: 10%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

}

@keyframes showFromBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

input[type="text"] {
				border-radius: 4px;
				padding: 10px;
				transition: all .3s;
				border: 1px solid #000;
				outline: none;
			}

input[type="text"]:focus {
	border: 1px solid #fff;
}

.head-panel {
	width: 100%;
	position: fixed;
	align-items: center;
	padding: 10px 20px;
	height: 60px;
	background: #FFA500;
	z-index: 1000;
	box-shadow: 1px 2px 3px rgba(0,0,0,0.2);

	&__wrap {
		height: 100%;
	}

	&__name-input {
		background: rgba(0,0,0, 0.4);
		color: #fff;

		&::placeholder {
			color: #000;
		}
	}

	&__right {
		display: flex;
	}

	&__fav-wrap {
		margin-right: 15px;
	}
}

.rating {
	margin-right: 15px;
	&__number {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		background: rgba(255,255,255, 0.3);
		z-index: 1;
	}

	&__background {
		position: absolute;
		border-radius: inherit;
		background: #fff;
		width: 50%;
		height: 50%;
		transition: all .5s;
		z-index: -1;

		&--0 {
			width: 0;
			height: 0;
		}

		&--10 {
			width: 10%;
			height: 10%;
		}

		&--20 {
			width: 20%;
			height: 20%;
		}

		&--30 {
			width: 30%;
			height: 30%;
		}

		&--40 {
			width: 40%;
			height: 40%;
		}

		&--50 {
			width: 50%;
			height: 50%;
		}

		&--60 {
			width: 60%;
			height: 60%;
		}

		&--70 {
			width: 70%;
			height: 70%;
		}

		&--80 {
			width: 80%;
			height: 80%;
		}

		&--90 {
			width: 90%;
			height: 90%;
		}

		&--100 {
			width: 100%;
			height: 100%;
		}
	}
}

.button-style {
	background: #000;
	border: none;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	border-radius: 3px;
	transition: all .3s;
	outline: none;
}

.button-style:hover {
	background: #fff;
	color: #000;
}

.personal-avatar {
	width: 40px;
	height: 40px;

	&__image {
		border-radius: 50%;
		object-fit: cover;
		width: inherit;
		height: inherit;
		background-size: cover;
		cursor: pointer;
		box-shadow: 0px 0px 0px rgba(0,0,0, 0.3);
		transition: all .5s;

		&:hover {
			box-shadow: 2px 2px 8px rgba(0,0,0, 0.3);
		}
	}
}

.personal-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	width: 300px;
	position: fixed;
	right: -300px;
	top: 60px;
	bottom: 0;
	background: black;
	transition: all .5s;

	&--active {
		right: 0;
	}

	&__avatar {
		width: 200px;
		height: 200px;
	}

	&__image {
		width: inherit;
		height: inherit;
		object-fit: cover;
		border-radius: 50%;
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__name {
		color: #ffffff;
		font-size: 28px;
		font-weight: 500;
	}
}
